.pwsp-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 100%;
  gap: 8px;
}

.pwsp-thumbnail {
  flex: 1 1 auto;
}

.pwsp-thumbnail img {
  width: 100%;
  height: 100%;
}
